<!DOCTYPE html>
<!-- edit -->
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Angular Example</title>
</head>

<body ng-controller="mainController as ctrl">
<!--<pre>-->
<!--    {{ctrl.calc}}-->
<!--    <br>-->
<!--    {{ctrl.operation}}-->
<!--    <br>-->
<!--    {{ctrl.result}}-->
<!--</pre>-->
<p class="test_1"> {{ctrl.data}}</p>

<div class="calcul_area" id="area" ng-init="isClear=false">
    <div class="operationDisplay">{{ctrl.showOperation}}</div>
    {{isClear ? 0 : ctrl.calculatorDisplay()}}
</div>

<div class="calculatrice">
    <div class="operators" ng-repeat="operator in ctrl.operators" ng-click="ctrl.onOperatorClic(operator) ; ctrl.showCalcul(operator);">
        {{operator}}

    </div>
    <div class="chiffres" id="calc" ng-repeat="val in ctrl.entier"
         ng-click="ctrl.numberInput = val ;  ctrl.onDigitClic(val) "  >
        {{val}}
    </div>

    <div class="clear" ng-click="ctrl.clear()">CE</div>

</div>


</body>
<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
<!-- edit -->
<script type="text/javascript" src="./app.js"></script>
</html>